<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jingbin.designpattern">

    <application
        android:name=".app.PatternApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".observer.ObserverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".factory.FactoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".singleton.SingletonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".strategy.StrategyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adapter.AdapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".command.CommandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".decorator.DecoratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".facade.FacadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".templatemethod.TemplateMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".state.StateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.BuilderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flyweight.FlyweightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prototype.PrototypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".proxy.ProxyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bridge.BridgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".composite.CompositeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iterator.IteratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mediator.MediatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memento.MementoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interpreter.InterpreterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chainofresponsibility.ChainOfResponsibilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitor.VisitorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>